@model IPagedList<Product>
@{
    ViewBag.Title = "List of Products";
}

@section styles
{
    <link href="~/Assets/css/PagedList.css" rel="stylesheet" />
}

<div id="grid1">
    @Html.Partial("_Listing")
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="product-details">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Form</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="product-details-id" />
                <input type="hidden" id="product-details-inventory" />

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="product-details-title">-</h3>
                    </div>
                    <div class="panel-body">
                        <p id="product-details-description">-</p>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Price</span>
                                    <input type="text" class="form-control" readonly="readonly" id="product-details-price" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Quantity</span>
                                    <input type="number" class="form-control" id="product-details-quantity" oninput="computeOrder()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <p class="text-right">
                            Total: <span id="product-details-total"></span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" onclick="addCard()">Order</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        function getCard(id) {

            ajax.fetchJson('@Url.Action("Get")/' + id,{}, function(product) {

                    //labels
                    $("#product-details-title").html(product.Name);
                    $("#product-details-description").html(product.Description);

                    //fields
                    $("#product-details-id").val(product.Id);
                    $("#product-details-inventory").val(product.Inventory);
                    $("#product-details-price").val(product.Price);
                    $("#product-details-quantity").val(1);
                    $("#product-details-total").html(product.Price);

                    //modal
                    $('#product-details').modal('show');

            });
        }

        function computeOrder() {
            var quantity = $("#product-details-quantity").val();

            if ( !quantity)
                return;

            var inventory = $("#product-details-inventory").val();
            if (parseInt(quantity) > parseInt(inventory)) {

                alert('Product quantity large than inventory count!');

                return;
            }

            var price= $("#product-details-price").val();
            var totalPrice = parseInt(quantity) * parseFloat(price);

            $("#product-details-total").html(totalPrice.toFixed(2));

        }

        function addCard() {

            var id = $("#product-details-id").val();
            var quantity = $("#product-details-quantity").val();

            if (!id || !quantity)
                return;

            var inventory = $("#product-details-inventory").val();

            ajax.fetchJson('@Url.Action("Add","Order")',{ "productId": id, "quantity": quantity },function(data) {
                    if (data == "ok") {

                        var totalInventory = parseInt(inventory) - parseInt(quantity);

                        $("#product-item-inventory-" + id).html(totalInventory);

                        $('#product-details').modal('hide');

                        alert("Success!");
                    } else {
                        alert(data);
                    }
            });

        }

        $(document).ready(function () {

            $('#product-details').modal({
                keyboard: false,
                show:false
            });

            $(document).on('click', "#pager1 a", function (e) {

                e.preventDefault();

                var _ = $(this);

                if (_.attr("href") !== undefined) {
                    ajax.fetchHtml(_.attr("href"), "#grid1");
                } else {
                    ajax.fetchHtml("@Url.Action("Index")?page=" + _.html(), "#grid1");
                }

            });

        });

    </script>
}
